/* Apply some basic styles to the form container */
section {
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
    width: 75%;
    margin: 0 auto;
    /* border: 3px solid red; */
}

/* Style the main content area */
main {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    /* margin-right: 50px; */
    /* width: 500px; */
}

/* Style the form inputs */
input[type="text"],
input[type="button"],
textarea {
    width: 100%;
    padding: 10px 0px 10px 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

/* Style the submit button */
input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}

/* Add some margin to the submit button */
input[type="submit"] {
    margin-top: 10px;
}

/* Add more specific styles for the "Reply-to" input */
input[name="reply"] {
    border-color: #f44336; /* Red border for emphasis */
}

/* Style the textarea */
textarea {
    resize: vertical; /* Allow vertical resizing */
    height: 150px; /* Set the initial height */
}
